<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Outllok Email Engine</h1>
    <p class="lead">This application enables users to register a local account and seamlessly integrate it with their
      Outlook email through OAuth authentication.</p>
    {{#if user}}
    <h4>Welcome {{ user.displayName }}!</h4>
    <p class="col-md-8 fs-6">Use the navigation bar at the top of the page to get started.</p>
    {{else}}
    <a href="/auth/signin" class="btn btn-primary btn-large">Click here to sign in</a> {{/if}}
  </div>
</div>